<ng-container>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="dynamic-form">
    <div [class]="'form-layout ' + layout">
    <ng-container *ngFor="let field of fields">
      <ng-container [ngSwitch]="field.fieldType">
        <div [class]="'cell ' + field.fieldWidth">
        <ng-container *ngSwitchCase="fieldTypes.INPUT">
          <div [ngStyle]="field.style">
            <app-text-input
              [valid]="form.get(field.formControlConfig.name).valid"
              [errors]="form.get(field.formControlConfig.name).errors"
              [verificationPending]="form.get(field.formControlConfig.name).pending"
              [abstractControl]="form.get(field.formControlConfig.name)"
              [config]="field.config"
              [formControl]="form.controls[field.formControlConfig.name]"
            >
            </app-text-input>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="fieldTypes.DROPDOWN_SELECT">
          <div [ngStyle]="field.style">
            <app-dropdown-select
              [abstractControl]="form.get(field.formControlConfig.name)"
              [config]="field.config"
              [formControl]="form.controls[field.formControlConfig.name]"
            ></app-dropdown-select>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="fieldTypes.IMAGE_UPLOAD">
          <div [ngStyle]="field.style">
            <app-image-upload
              [config]="field.config"
              [formControl]="form.controls[field.formControlConfig.name]"
            ></app-image-upload>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="fieldTypes.DATE_PICKER">
          <div [ngStyle]="field.style">
            <app-date-picker-input-admin
              [config]="field.config"
              [formControl]="form.controls[field.formControlConfig.name]"
            ></app-date-picker-input-admin>
          </div>
        </ng-container>

        </div>
      </ng-container>

    </ng-container>
    </div>
    <div class="form-actions">
      <button [disabled]="form.invalid" class="mat-btn-primary" mat-stroked-button color="primary" type="submit">
        <mat-progress-spinner *ngIf="isLoading" [diameter]="15"></mat-progress-spinner>
        {{isLoading ? submitButtonLoadingStateLabel : submitButtonLabel}}</button>
    </div>
  </form>
</ng-container>
