<div class="register-form">
  <button  mat-stroked-button [routerLink]="['/', 'create-profile']">
    <i class="material-icons">arrow_back_ios</i>Back</button>
  <h3>Step 3</h3>
  <h1>Complete your profile</h1>
  <app-form-builder
    [layout]="formLayout"
    submitButtonLabel="Create account"
    (formSubmit)="onFormSubmit($event)"
    (formClose)="onFormClose($event)"
    [fields]="fields"
    [initialFormState]="prefilledFormValues"
    (formValueChange)="onFormValueChanges($event)"
  >
  </app-form-builder>
  <p *ngIf="accountCreated">Account created successfully!!!</p>
</div>
