<div class="dynamic-form-field text-input">
  <div>{{config.label}}</div>
<mat-form-field appearance="outline">
    <input
      (blur)="handleOnBlur()"
      [formControl]="inputField" [placeholder]="config.placeholder"
      [type]="config.type || 'text'"
      matInput
    >
  <mat-progress-spinner *ngIf="verificationPending" [diameter]="15" mode="indeterminate"></mat-progress-spinner>
  <ng-container *ngIf="!verificationPending && inputField.dirty && config.showStatusCheck">
  <i class="material-icons" *ngIf="!verificationPending && !valid" style="font-size: 15px; color: red">cancel</i>
  <i class="material-icons" *ngIf="!verificationPending && valid" style="font-size: 15px; color: blue">check_circle</i>
  </ng-container>
    <mat-error *ngFor="let error of errorMessage">{{error}}</mat-error>
  <mat-hint style="white-space: pre-line" *ngIf="config.hint">{{config.hint}}</mat-hint>
</mat-form-field>
</div>
