<div class="form-field-label">{{config.label}}</div>
<mat-form-field appearance="outline">
    <label>
        <input
                (blur)="onBlur()"
                [formControl]="datePickerFormControl"
                [matDatepicker]="matDatePicker"
                [min]="config.minDate || null"
                matInput
                [placeholder]="config.placeholder"
        />
    </label>
    <mat-datepicker-toggle
            [for]="matDatePicker"
            matSuffix
    ></mat-datepicker-toggle>
    <mat-datepicker #matDatePicker></mat-datepicker>
    <mat-error *ngIf="datePickerFormControl.invalid">{{errorMessage}}</mat-error>
    <mat-hint style="white-space: pre-line" *ngIf="config.hint">{{config.hint}}</mat-hint>
</mat-form-field>
